
/* Your CSS Code here. */
.Primary-button{
	background-color:blue;
	color:white;
	height:25px;
	
}
.large-button{
	background-color:green;
	color:white;
	height:30px;
}
.small-button{
	background-color:red;
	color:white;
	height:17px;
}
.width-button{
	background-color:yellow;
	width:100%;
	border:1px;

	
}
.info-button{
	background-color:#49DDF8;
    height:30px;
}
.light-button:{
background-color:#F9F8FA;
border:1px solid #F9F8FA;