/* Your CSS Code here. */
#button-1{
	background-color:blue;
	color:white;
	height:25px;
	
}
#button-3{
	background-color:green;
	color:white;
	height:30px;
}
#button-4{
	background-color:red;
	color:white;
	height:17px;
}
#button-5{
	background-color:yellow;
	width:100%;
	border:1px;
}
#button-6{
	background-color:#49DDF8;
    height:30px;
}
#button-7{
background-color:#F9F8FA;
border:1px solid ;
	